[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ESI15
[access "refs/for/refs/*"]
	read = group user/ESI15
	push = group user/ESI15
	label-Code-Review = -2..+2 group user/ESI15
	label-Verified = -1..+1 group user/ESI15
	rebase = group user/ESI15
	removeReviewer = group user/ESI15
	submit = group user/ESI15
[access "refs/heads/*"]
	read = group user/ESI15
	create = group user/ESI15
	push = +force group user/ESI15
	pushMerge = group user/ESI15
[access "refs/tags/*"]
	push = +force group user/ESI15
	pushTag = group user/ESI15
	pushSignedTag = group user/ESI15
